.dropdown {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-weight:600;
    padding-top: 5px;
    padding-bottom: 8px;
    padding-right: 13px;
    padding-left: 13px;

    color: #61b016;
    background-color: #e5e5e8;
    background-image: url(images/form-arrow.png);
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;


    font-size: 20px;

}

    .dropdown ul {
        list-style: none;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 38px;
        left: 0px; /* -1 for the border */
        z-index: 5;
        border-top: 1px solid #ccc;
        width: 100%;
        color: #61b016;
        background-color: #e5e5e8;
        display: none;
    }

    .dropdown li {
        list-style: none;
        padding: 0;
        margin: 0;
        padding: 15px;
    }

        .dropdown li.selected {
            display: none;
        }

        .dropdown li:hover {
            background-color: #333;
            color: #fff;
        }

    .dropdown.open {
        color: #61b016;
    }

        .dropdown.open ul {
            color: #61b016;
        }

.dropdown-header {
        font-size: 1.2rem;
    }
